# Here are 3 command lines in this sample: 1 of them is active, other are commented (disabled).

# ShooterGame
-path="C:\Riot Games\VALORANT\live\ShooterGame\Content\Paks" -game=VALORANT  -export FP_Wushu_S0_X_Idle

# Disabled block
# Fortnite/Game/Characters/_Core/1P/Models/FP_Core_Retarget_Skelmesh.uasset

## anim  /Game/Characters/Wushu/S0/Ability_X/1P/Anims/FP_Wushu_S0_X_Idle.uasset
# -path=C:/UnrealEngine/Fortnite/FortniteGame/Content/Paks -game=ue4.22 -aes=...

# Disabled block
# Paragon
# -path=C:/UnrealEngine/Paragon/OrionGame/Content/Paks -game=paragon